
<div class="grounds">
  <md-toolbar class="md-primary">
    <h1 class="md-toolbar-tools">Gestion de Terrenos</h1>
  </md-toolbar>
  <md-content class="md-padding">
    <md-card>
      <md-list>
        <md-subheader class="md-no-sticky">Lista de Terrenos</md-subheader>
        <md-list-item ng-repeat="(index,ground) in grounds" class="md-3-line">
          <ui-gmap-googlSe-map hide-sm="hide-sm" center="ground.coordinates" zoom="16">
            <ui-gmap-marker coords="ground.coordinates" idkey="$index"></ui-gmap-marker>
          </ui-gmap-googlSe-map>
          <div layout="column" layout-padding="layout-padding" class="md-list-item-text">
            <div layout="row">
              <h3:em>Registro Publico# {{ground.regPub}}</h3:em>
            </div>
            <div layout="row" layout-sm="column" layout-align-sm="center center" layout-align-gt-sm="start start" layout-wrap="layout-wrap">
              <div flex="flex" flex-gt-sm="30" class="ground-subject">
                <h4>{{ground.direction}}</h4>
                <p>{{ground.notes}}</p>
              </div>
              <div flex="flex"><img src="{{ground.picture.src}}"/></div>
            </div>
            <div layout="row" layout-sm="row" layout-align-sm="space-between center">
              <div>
                <md-button flex="flex" ng-click="showEditGround(index,$event)" class="md-fab md-primary">
                  <md-icon md-font-set="fa fa fa-pencil"></md-icon>
                  <md-tooltip md-direction="bottom">Editar</md-tooltip>
                </md-button>
              </div>
              <div>
                <md-button flex="flex" ng-click="showConfirmRemove(index,$event)" class="md-fab md-warn">
                  <md-icon md-font-set="fa fa fa-remove"></md-icon>
                  <md-tooltip md-direction="bottom">Eliminar</md-tooltip>
                </md-button>
              </div>
            </div>
          </div>
          <md-divider></md-divider>
        </md-list-item>
      </md-list>
      <md-button style-add-ground="style-add-ground" flex="flex" ng-click="showCreateGround($event)" class="md-fab md-primary">
        <md-icon md-font-set="fa fa fa-plus"></md-icon>
        <md-tooltip md-direction="top">Crear Terreno</md-tooltip>
      </md-button>
    </md-card>
  </md-content>
</div>