
<md-toolbar class="md-primary">
  <h1 class="md-toolbar-tools">Ventas</h1>
</md-toolbar>
<md-content layout="row" layout-sm="column" layout-padding="layout-padding">
  <form id="frmVentas" flex="100" name="frmVentas" novalidate="novalidate">
    <div layout="row" layout-sm="column">
      <div flex-gt-lg="99" flex-lg="99" flex-gt-md="99" flex-gt-sm="99" flex-sm="99">
        <md-autocomplete md-search-text="articulo" md-search-text-change="change(articulo)" placeholder="Busca el articulo" md-items="item in querySearch(articulo)" md-item-text="item.display" md-selected-item-change="selectedItemChange(item)"><span md-highlight-text="articulo" md-highlight-flags="^i">{{item.display}}</span></md-autocomplete>
        <md-input-container>
          <input maxlength="30" md-maxlength="30" type="text" required="required" name="articulo" ng-model="articulo" class="hide"/>
          <ng-messages for="frmVentas.articulo.$error">
            <ng-message when="required">Escriba el articulo</ng-message>
            <ng-message when="md-maxlength">No se permite mas de 30 caracteres</ng-message>
          </ng-messages>
        </md-input-container>
      </div><br/>
      <div flex-gt-md="10" flex-sm="99">
        <md-input-container>
          <label>Cantidad</label>
          <input maxlength="3" md-maxlength="3" type="number" required="required" name="cantidad" ng-model="cantidad"/>
          <ng-messages for="frmVentas.cantidad.$error">
            <ng-message when="required">Escriba la cantidad</ng-message>
            <ng-message when="md-maxlength">Lo masximo que puedes pedir es 100 unidades</ng-message>
          </ng-messages>
        </md-input-container>
      </div>
      <div flex-gt-md="10" flex-sm="99">
        <md-input-container>
          <label>Precio</label>
          <input disabled="disabled" name="precio" ng-model="precio"/>
        </md-input-container>
      </div>
      <div flex-gt-md="30" flex-sm="99">
        <md-input-container>
          <label>Descripcion</label>
          <textarea maxlength="300" md-maxlength="300" columns="1" name="descripcion" ng-model="descripcion"></textarea>
        </md-input-container>
      </div>
    </div>
  </form>
</md-content>