.sales
	md-toolbar.md-primary
		h1.md-toolbar-tools Ventas
	md-content
		form#frmVentas(form-list layout="row" layout-sm="column" layout-padding  name="frmVentas" novalidate)
			section(ng-repeat="field in fields" flex="100")
				section(layout="row" layout-sm="column")
						md-input-container(flex-gt-md="20" flex-sm="99")
							label Cantidad
							input(type="number" min="1" max="99" name="{{field.cantidad}}" ng-model="models[field.cantidad]" required)
							ng-messages(for="frmVentas[field.cantidad].$error")
								ng-message(when="required") Un numero
								ng-message(when="max") Maximo 99 unidades
								ng-message(when="min") Minimo 1 unidad
						md-input-container(flex-gt-md="20" flex-sm="99")
							label Precio
							input(disabled name="{{field.precio}}" ng-model="models[field.precio]")
						md-input-container(flex-gt-md="60" flex-sm="99")
							label Descripcion
							textarea(maxlength="300" md-maxlength="300" placeholder="Comentario sobre este articulo o venta específica" columns="0" name="{{field.descripcion}}" ng-model="models[field.descripcion]")
		pre| {{models | json}}
		pre| {{fields | json}}
									
		section(layout="row" layout-align="end start")
			md-button(ng-click="addFormArticle()") Agregar otro articulo
		section(layout="row" layout-align="center center")
			md-button.md-raised.md-primary(ng-disabled="frmVentas.$invalid" ng-click="showConfirmBuy($event)") Vender
