.sales
	md-toolbar.md-primary
		h1.md-toolbar-tools Ventas
	md-content.scrollbars(drv-scroll-x data-drv-scroll-x-maximize="5")
		form#frmVentas(neutralized-styles-form layout="row" layout-sm="column" layout-padding  name="frmVentas" novalidate)
			section(neutralized-styles-list ng-repeat="field in fields" flex-gt-md="50")
				md-card
					md-subheader.md-purple Articulo {{$index + 1}}
					md-card-content
						section(layout="row" layout-sm="column")
								div(flex="100")
									div#ext1(angucomplete-alt minlength="1" field-required="true" placeholder="busca el articulo" match-class="highlight" input-class="md-select" input-name="{{field.article}}" selected-object="models[field.article]" local-data="articulos" search-fields="name" title-field="name")
									md-input-container(flex-gt-md="99" flex-sm="99")
										input.hide(name="{{field.article}}" ng-model="models[field.article].originalObject.name" required)
										ng-messages(for="frmVentas[field.article].$error")
											ng-message(when="required") Importante
									//.result
										div(ng-show="models[field.article]")
											| Elegiste {{models[field.article].originalObject.name}}
						section(layout="row" layout-sm="column")
						md-input-container(flex-gt-md="20" flex-sm="99")
							label Cantidad
							input(type="number" min="1" max="99" name="{{field.cantidad}}" ng-model="models[field.cantidad]" required)
							ng-messages( for="frmVentas[field.cantidad].$error")
								ng-message(when="required") Un numero
								ng-message(when="max") Maximo 99 unidades
								ng-message(when="min") Minimo 1 unidad
						md-input-container(flex-gt-md="20" flex-sm="99")
							label Precio
							input(disabled name="{{field.precio}}" ng-model="models[field.precio]")
						md-input-container(flex-gt-md="60" flex-sm="99")
							label Descripcion
							textarea(maxlength="300" md-maxlength="300" placeholder="Comentario sobre este articulo o venta específica" columns="0" name="{{field.descripcion}}" ng-model="models[field.descripcion]")
					.md-actions(layout="row" layout-align="end start")
						md-button.md-warn Eliminar
		//pre| {{models | json}}
		//pre| {{fields | json}}
									
	section(layout="row" layout-align="end start")
		md-button(ng-click="addFormArticle()") Agregar otro articulo
	section(layout="row" layout-align="center center")
		md-button.md-raised.md-primary(ng-disabled="frmVentas.$invalid" ng-click="showConfirmBuy($event)") Vender
	article(ui-view="info")
	article(ui-view="detail")