.sales{
	md-autocomplete.search-article{
		height: auto;
		md-autocomplete-wrap{
			height:auto;
			input{
				font-size: 1.25em;
				padding: 1em .4em;
			}
		}
	}
}
.md-autocomplete-suggestions {
	[md-autocomplete-list-item]{
		[md-highlight-text] {
			font-size: 1.45em;
			.highlight{
				background-color: #F0E68C;
				//font-weight: 700;
				padding:0.32em 0 0.32em 0.32em;
			}
			
		}

	}
}