doctype html
html(ng-app="loginApp")
		head
			meta(name="viewport",content="width=device-width, initial-scale=1")
			title= title
			link(rel='stylesheet', href='/modules/login/stylesheets/login.all.assets.css')
			link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
		body.scrollbars
				block content
				script(src="/modules/login/javascripts/login.all.assets.js")
				script(src="/modules/login/javascripts/login.app.js")
				//script(src="/modules/login/javascripts/vorlon.js")
