doctype html
html(ng-app="buyerApp")
		head
			meta(name="viewport",content="width=device-width, initial-scale=1")
			title= title
			link(rel='stylesheet', href='/modules/buyer/stylesheets/buyer.all.assets.css')
			link(rel='stylesheet', href='/bower_components/fontawesome/css/font-awesome.min.css')
			link(rel='stylesheet', href='/modules/buyer/stylesheets/buyer.all.modules.css')
		body.scrollbars
				block content
				script(src="/modules/buyer/javascripts/buyer.all.assets.js")
				script(src="/modules/buyer/javascripts/app.js")
				//script(src="/modules/buyer/javascripts/vorlon.js")
