doctype html
html
		head
			title= title
			link(rel='stylesheet', href='/modules/core/stylesheets/core.all.assets.css')
			link(rel='stylesheet', href='/modules/core/stylesheets/core.all.modules.styles.css')
		body
				block content
				script(src="/modules/core/javascripts/core.all.assets.js")
				script(src="/modules/core/javascripts/core.all.modules.app.js")
